*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    width: 100vw;
    /* margin-left: 0px; */
    /* border: 1px solid black; */
}
button:hover{
    background-color: red;
}

/* form start */
.bg-model {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.463);
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
    display: none;
}

.model-content {
    width: 500px;
    padding-top: 20px;
    background-color: rgb(230, 233, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid orangered;
    border-radius: 20px;
    position: relative;
}

.formdesign{
    color: black;
    font-weight: 400;
    font-size: large;
    margin: 10px;
}
.formdesign label{
    position: relative;
    left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.formdesign input,#department,#office,#jobtitle{
    height: 30px;
    width: 400px;
    border: 2px solid black;
    color: black;
    background-color: white;
    margin-left: 10px;
    border-radius: 5px;
}

#submit{
    background-color:black;
    color: white;
    cursor: pointer;
    width: 150px;
    position: relative;
    margin-top: 20px;
    border-radius: 15px;
    margin-left: 120px;
    font-weight: bolder;
}
#submit:hover{
    background-color: red;
    color: white;
    font-weight: bolder;
}

.formerror{
    display: block;
    color:rgba(252, 0, 0, 0.884);
}

#close{
    position:absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: black;
    color: white;
    /* font-weight: bolder; */
}

#close:hover{
    color: white;
    background-color: red;
    font-weight: bolder;
}
/* #jobtitle option,input{
    display: inline-block;
} */

/* formend */


.navbar{
    width: 1300px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
    padding-bottom: 0px;
    margin-bottom: 10px;
    /* background-color: red; */
}
#logo img{
    height: 110px;
    /* border: 2px solid red; */
}
.heading{
    position: relative;
    left: 10px;
}
.heading h1{
   font-size: 40px;
   font-weight: 200;
   position: relative;
   top: 15px;
   height: 70px;
   color: rgba(0, 174, 255, 0.685);
}
.heading p{
    font-size: 20px;
    position: relative;
    top: -10px;
}
.side{
    position: relative;
    left: 370px;
    display: flex;
    top: 18px;
    /* font-size: 30px; */
    /* font-weight: 100; */
}
.side #welcome{
    font-size: 30px;
    font-weight: 100;
    color: rgba(0, 174, 255, 0.685);
    position: relative;
    top: 10px;
}
.side #andrew{
    font-size: 30px;
    font-weight: -100;
    opacity: .8;
    position: relative;
    top: 10px;
    left: 5px;
}
.side img{
    height: 60px;
    width: 60px;
    position: relative;
    top: -15px;
    left: 20px;
}
.middle{
    width: 1300px;
    margin: auto;
    /* border: 1px solid black; */
    height: 80vh;
    display: flex;
}
.left{
    height: 80vh;
    width: 260px;
    /* border: 2px solid red; */
    /* background-color: red; */
}
.department{
    margin: 20px;
    margin-bottom: 30px;
    /* background-color: red; */
}
.department h3{
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.884);
}
.department p{
    color: rgb(56, 56, 56);
    /* background-color: red; */
    margin-bottom: 3px;
    cursor: pointer;
}
.offices{
  margin: 20px;
  margin-bottom: 30px;
}
.offices h3{
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.884);
}
.offices p{
    color: rgb(56, 56, 56);
    margin-bottom: 3px;
    cursor: pointer;
}
.jobtitles{
    margin: 20px;
    margin-bottom: 30px;
}
.jobtitles h3{
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.884);
}
.jobtitles p{
    color: rgb(56, 56, 56);
    margin-bottom: 3px;
    cursor: pointer;
}
#vmore{
    position: relative;
    top: -35px;
    color: #00b1fc;   
    /* tex */
}
.main{
    /* height: 500px; */
    width: 1040px;
    /* border: 2px solid green; */
    /* background-color: green; */
}
.top{
    margin-bottom: 10px;
    width: 1040px;
    /* border: 2px solid blue; */
    /* background-color: blue; */

}
.alphabet{
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 0px;
    width: 1040px;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}
.top .alphabet button{
    background-color: #00b1fc;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: 1px;
    border: none;
    padding: 8px;
    padding-left: 11px;
    padding-right: 11px;
    cursor: pointer;
}
.alphabet button:hover{
    background-color: red;
}
.top .alphabet #icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}
.topmain{
    display: flex;
    margin-top: 20px;
    /* justify-content: space-between; */
    /* background-color: red; */
}
.topmain .first{
    width: 330px; 
    height:40px;
    display: flex;
    /* background-color: orange; */
    position: relative;
    left: 2px;
}
.topmain .first label{
    font-size: 17px;
    /* background-color: white; */
    position: relative;
    top: 8px;
}
.topmain .first input{
    margin-left: 10px;
    padding: 10px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom:8px ;
    border: 1px solid rgba(0, 0, 0, 0.616);
}
.topmain .second{
    width: 90px;
    height: 35px;
    /* background-color: red; */
}
.topmain .second #clear{
    cursor: pointer;
    background-color: #69ba00;
    width: 90px;
    height: 40px;
    color: white;
    font-size:medium ;
    font-weight: 100;
    border: none;
}

.second #clear:hover{
    background-color: red;
}
.topmain .third{
    margin-left: 40px;
    width: 230px;
    height: 40px;
    /* background-color: red; */
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
}
.topmain .third label{
    font-size: 16px;    
}
.topmain .third #filter{
    padding: 8px;
}
#filtererror{
    position: relative;
    left: 60px;
}
.topmain #btn{
    margin-left:210px;
    background-color: #00b1fc;
    color: white; 
    padding: 8px;
    font-weight: bolder; 
    font-size: medium; 
    border: none;
    cursor:pointer;
}

.topmain #btn:hover{
    background-color: red;
}
.note{
    display: flex;
    margin-top: 10px;
}
.bottborder{
    height: 60vh;
    border: 1px solid black;
}
#bottom{
    display: flex;
    /* display: grid; */
     /* grid-template-columns: auto auto auto auto; */
    /* column-gap:10px; */ 
    /* background-color: purple; */
    /* column-gap: 10px; */
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 18px;
    /* margin: auto; */
    /* display: inline-block; */
    /* border: 1px solid rgba(0, 0, 0, 0.283); */
}


/* ------------------------------------------------ */

.popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.463);
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.eu{
    padding: 30px;
    background-color: rgb(230, 233, 240);
    border: 2px solid orangered;
    position: relative;
}
.field{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 5px;
}
.hbtn{
    display: none;
}
.xclose{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: white;
    padding: 2px;
    color:red;
    font-weight: bolder;
}
.xclose:hover{
    color: white;
    background-color: red;

}

.lower{
    /* background-color: #69ba00; */
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}
#delete,#update{
    background-color:rgb(231, 211, 211);
    color: red;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
#update:hover{
    color: rgb(231, 211, 211);
    background-color: red;
}
#delete:hover{
    color: rgb(231, 211, 211);
    background-color: red;
}
